@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

p{
    font-size: 18px;
    color: var(--white);
}

body{
    background-color: var(--White);
}

/* -----------------Conenedor de la pagina------------------ */
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------Contenedor principal---------------------*/
.principal_info{
    width: 100%;
    height: 355px;
    padding-top: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(30,0,113);
    background: linear-gradient(0deg, rgba(30,0,113,1) 0%, rgba(138,85,251,1) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.principal_info p{
    color: var(--light-lavender);
    margin-left: 20px;
    font-size: 16px;
}

.principal_info h3{
    color: var(--white);
    font-size: 22px;
}

.principal_info h4{
    color: var(--light-lavender);
    font-size: 16px;
}

.union{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
}

.red{
    color: var(--light-red);
}
.yellow{
    color: var(--orangey-yellow);
}
.green{
    color: var(--green-teal);
}
.blue{
    color: var(--cobalt-blue);
}

/* ----------------Circle----------------*/
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background: rgb(64,20,159);
    background: linear-gradient(0deg, rgba(64,20,159,1) 7%, rgba(70,24,133,1) 29%);
}

.circle h1{
    color: var(--white);
    font-size: 50px;
}

.circle h4{
    color: var(--light-lavender);
}


/*------------------Contenedor secundario--------------------*/

.secondary_info{
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.numbers{
    margin-right: 15px;
}

.gray{
    color:hsl(0, 1%, 66%)
}

.summary{
    width: 313px;
    height: 15px;
    margin: 20px 0px 10px 0px;
}

.box{
    width: 320px;
    height: 55px;
    margin: 15px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(250, 247, 216);
}

.box-green-color{
    background-color: rgb(239, 253, 241);
}

.box-blue-color{
    background-color: rgb(229, 233, 251);
}

.union{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.union h4{
    padding-left: 15px;
}

.btn-continue{
    width: 340px;
    height: 55px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    color: var(--white);
    border-radius: 25px;
    background-color:rgb(41, 29, 82);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }